[package]
name = "matrix-sdk-integration-testing"
description = "Internal integration testing for matrix-sdk crate"
version = "0.1.0"
edition = "2021"
publish = false

[dev-dependencies]
anyhow = "1"
assign = "1"
ctor = "0.1.23"
matrix-sdk = { path = "../../crates/matrix-sdk" }
once_cell = "1.13.0"
tempfile = "3.3.0"
tokio = { version = "1", features = ["rt", "rt-multi-thread", "macros"] }
tracing = { workspace = true }
tracing-subscriber = { version = "0.3.15", features = ["env-filter"] }
