[package]
name = "matrix-sdk-integration-testing"
description = "Internal integration testing for matrix-sdk crate"
version = "0.1.0"
edition = "2021"
publish = false

[features]
# activate to steal helper functions from this crate for other testing
helpers = []

[dependencies]
assert_matches = { workspace = true }
anyhow = { workspace = true }
assign = "1"
ctor = { workspace = true }
eyeball-im = { workspace = true }
futures-core = { workspace = true }
futures-util = { workspace = true }
matrix-sdk = { path = "../../crates/matrix-sdk", features = ["testing"] }
matrix-sdk-ui = { path = "../../crates/matrix-sdk-ui" }
once_cell = { workspace = true }
tempfile = "3.3.0"
tokio = { workspace = true, features = ["rt", "rt-multi-thread", "macros"] }
tracing = { workspace = true }
tracing-subscriber = { version = "0.3.15", features = ["env-filter"] }
