[package]
name = "matrix-sdk-integration-testing"
description = "Internal integration testing for matrix-sdk crate"
version = "0.1.0"
edition = "2021"
publish = false

[dev-dependencies]
anyhow = { workspace = true }
assert_matches = { workspace = true }
assert_matches2 = { workspace = true }
assign = "1"
eyeball = { workspace = true }
eyeball-im = { workspace = true }
futures = { version = "0.3.29", features = ["executor"] }
futures-core = { workspace = true }
futures-util = { workspace = true }
http = { workspace = true }
matrix-sdk = {workspace = true, default-features = true, features = ["testing", "qrcode"] }
matrix-sdk-base = { workspace = true, default-features = true, features = ["testing", "qrcode"] }
matrix-sdk-ui = { workspace = true, default-features = true }
matrix-sdk-test = { workspace = true }
once_cell = { workspace = true }
rand = { workspace = true }
stream_assert = { workspace = true }
reqwest = { workspace = true }
serde_json = { workspace = true }
similar-asserts = { workspace = true }
tempfile = "3.3.0"
tokio = { workspace = true, features = ["rt", "rt-multi-thread", "macros"] }
tracing = { workspace = true }
wiremock = { workspace = true }
json-structural-diff = "0.1.0"

[lints]
workspace = true
