[workspace]
members = [
    "benchmarks",
    "bindings/matrix-sdk-crypto-ffi",
    "bindings/matrix-sdk-crypto-js",
    "bindings/matrix-sdk-crypto-nodejs",
    "bindings/matrix-sdk-ffi",
    "crates/*",
    "testing/*",
    "examples/*",
    "labs/*",
    "xtask",
]
# xtask, labs, testing and the bindings should only be built when invoked explicitly.
default-members = ["benchmarks", "crates/*"]
resolver = "2"

[workspace.dependencies]
ruma = { version = "0.7.4", features = ["client-api-c"] }
uniffi = "0.21.0"
uniffi_macros = "0.21.0"
uniffi_bindgen = "0.21.0"
uniffi_build = { version = "0.21.0", features = ["builtin-bindgen"] }

[profile.release]
lto = true

[profile.dev]
# Copied from rust-analyzer. Saves a lot of disk space and hopefully
# compilation time / mem usage too, at the expense of potentially having to
# change this setting here when you want to use a debugger.
debug = 0

[profile.dev.package]
# Optimize quote even in debug mode. Speeds up proc-macros enough to account
# for the extra time of optimizing it for a clean build of matrix-sdk-ffi.
quote = { opt-level = 2 }
sha2 = { opt-level = 2 }
