[package]
name = "jack-in"
publish = false
description = "an experimental sliding sync/syncv3 terminal client to jack into the matrix"
version = "0.2.0"
edition = "2021"

[features]
file-logging = ["dep:log4rs"]

[dependencies]
tuirealm = "~1.7.1"
matrix-sdk = { path = "../../crates/matrix-sdk", default-features = false, features  = ["e2e-encryption", "anyhow", "native-tls", "sled", "sliding-sync"] }
matrix-sdk-common = { path = "../../crates/matrix-sdk-common" }
structopt = "0.3"
tokio = { version = "1", features = ["rt-multi-thread", "sync", "macros"] }
futures = { version = "0.3.1" }
futures-signals = "0.3.24"
tracing-flame = "0.2"
tracing-subscriber = "0.3.15" 
eyre = "0.6"

tui-logger = "0.8.0"

# file-logging specials
tracing = { version = "0.1.35", features = ["log"] }
log4rs = { version = " 1.1.1", default-features = false, features = ["file_appender"], optional = true }
