[package]
name = "jack-in"
publish = false
description = "an experimental sliding sync/syncv3 terminal client to jack into the matrix"
version = "0.2.0"
edition = "2021"

[features]
file-logging = ["dep:log4rs"]

[dependencies]
app_dirs2 = "2"
chrono = "0.4.23"
clap = { version = "4.0.29", features = ["derive", "env"] }
dialoguer = "0.10.2"
eyeball = { workspace = true }
eyeball-im = { workspace = true }
eyre = "0.6"
futures = { version = "0.3.1" }
matrix-sdk = { path = "../../crates/matrix-sdk", default-features = false, features  = ["e2e-encryption", "anyhow", "native-tls", "sled", "experimental-sliding-sync", "experimental-timeline"], version = "0.6.0" }
matrix-sdk-common = { path = "../../crates/matrix-sdk-common", version = "0.6.0" }
matrix-sdk-sled = { path = "../../crates/matrix-sdk-sled", features = ["state-store", "crypto-store"], version = "0.2.0" }
sanitize-filename-reader-friendly = "2.2.1"
serde_json = { workspace = true }
tokio = { version = "1", features = ["rt-multi-thread", "sync", "macros"] }
tracing-flame = "0.2"
tracing-subscriber = "0.3.15"
tui-logger = "0.8.1"
tuirealm = "~1.8"
tui-realm-stdlib = "1.2.0"

# file-logging specials
tracing = { version = "0.1.35", features = ["log"] }
log4rs = { version = "1.1.1", default-features = false, features = ["file_appender"], optional = true }
