[package]
name = "matrix-sdk-indexeddb"
version = "0.1.0"
edition = "2021"
rust-version = "1.60"

[features]
default = ["e2e-encryption"]
e2e-encryption = ["matrix-sdk-base/e2e-encryption", "matrix-sdk-crypto"]

[package.metadata.docs.rs]
default-target = "wasm32-unknown-unknown"

[dependencies]
anyhow = "1"
base64 = { version = "0.13.0" }
dashmap = "5.1.0"
futures-util = { version = "0.3.15", default-features = false }
indexed_db_futures = { version = "0.2.0" }
matrix-sdk-base = { path = "../matrix-sdk-base" }
matrix-sdk-common = { path = "../matrix-sdk-common" }
matrix-sdk-store-encryption = { path = "../matrix-sdk-store-encryption" }
serde = { version = "1.0.126" }
serde_json = "1.0.64"
thiserror = "1.0.25"
tracing = "0.1.26"
wasm-bindgen = { version = "0.2.74", features = ["serde-serialize"] }
web-sys = { version = "0.3.35", features = ["IdbKeyRange"] }

matrix-sdk-crypto = { path = "../matrix-sdk-crypto", optional = true }


[target.'cfg(target_arch = "wasm32")'.dependencies]
# for wasm32 we need to activate this
getrandom = { version = "0.2", features = ["js"] }

[dev-dependencies]
matrix-sdk-base = {  path = "../matrix-sdk-base", features = ["testing"] }
matrix-sdk-crypto = { path = "../matrix-sdk-crypto", features = ["testing"] }
matrix-sdk-test = { path = "../matrix-sdk-test" }
uuid = "0.8"
wasm-bindgen-test = "0.3.24"
