[package]
name = "matrix-sdk-indexeddb"
version = "0.1.0"
edition = "2021"

[features]
default = ["encryption"]
encryption = ["matrix-sdk-crypto"]

[package.metadata.docs.rs]
default-target = "wasm32-unknown-unknown"

[dependencies]
matrix-sdk-base = { path = "../matrix-sdk-base", features = ["store_key"] }
matrix-sdk-crypto = { path = "../matrix-sdk-crypto", optional = true }
matrix-sdk-common = { path = "../matrix-sdk-common" }
thiserror = "1.0.25"
anyhow = "1"

futures-util = { version = "0.3.15", default-features = false }
indexed_db_futures = { version = "0.2.0" }
wasm-bindgen = { version = "0.2.74", features = ["serde-serialize"] }
web-sys = { version = "0.3.35", features = ["IdbKeyRange"] }
serde = { version = "1.0.126" }
serde_json = "1.0.64"
dashmap = "4.0.2"
tracing = "0.1.26"


[target.'cfg(target_arch = "wasm32")'.dependencies]
# for wasm32 we need to activate this
getrandom = { version = "0.2", features = ["js"]}

[dev-dependencies]
matrix-sdk-base = {  path = "../matrix-sdk-base", features = ["testing"] }
matrix-sdk-crypto = { path = "../matrix-sdk-crypto", features = ["testing"] }
matrix-sdk-test = { path = "../matrix-sdk-test" }
wasm-bindgen-test = "0.3.24"