[package]
name = "matrix-sdk-indexeddb"
version = "0.1.0"
edition = "2021"

[features]
default = ["encryption"]
encryption = ["matrix-sdk-base/encryption", "matrix-sdk-crypto"]
experimental-timeline = ["matrix-sdk-base/experimental-timeline"]

[package.metadata.docs.rs]
default-target = "wasm32-unknown-unknown"

[dependencies]
anyhow = "1.0.57"
async-trait = "0.1.53"
base64 = "0.13.0"
dashmap = "5.2.0"
futures-util = { version = "0.3.21", default-features = false }
indexed_db_futures = "0.2.3"
matrix-sdk-base = { path = "../matrix-sdk-base" }
matrix-sdk-crypto = { path = "../matrix-sdk-crypto", optional = true }
matrix-sdk-store-encryption = { path = "../matrix-sdk-store-encryption" }
ruma = "0.6.1"
serde = "1.0.136"
serde_json = "1.0.79"
thiserror = "1.0.30"
tracing = "0.1.34"
wasm-bindgen = { version = "0.2.80", features = ["serde-serialize"] }
web-sys = { version = "0.3.57", features = ["IdbKeyRange"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
# for wasm32 we need to activate this
getrandom = { version = "0.2.6", features = ["js"] }

[dev-dependencies]
matrix-sdk-base = { path = "../matrix-sdk-base", features = ["testing"] }
matrix-sdk-common = { path = "../matrix-sdk-common" }
matrix-sdk-crypto = { path = "../matrix-sdk-crypto", features = ["testing"] }
matrix-sdk-test = { path = "../matrix-sdk-test" }
uuid = "1.0.0"
wasm-bindgen-test = "0.3.30"
