[package]
name = "matrix-sdk-store-encryption"
version = "0.1.0"
edition = "2021"
description = "Helpers for encrypted storage keys for the Matrix SDK"
repository = "https://github.com/matrix-org/matrix-rust-sdk"
license = "Apache-2.0"
rust-version = "1.60"

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]

[features]
js = ["dep:getrandom", "getrandom?/js"]

[dependencies]
blake3 = "1.3.1"
chacha20poly1305 = { version = "0.9.0", features = ["std"] }
displaydoc = "0.2.3"
getrandom = { version = "0.2.6", optional = true }
hmac = "0.12.1"
pbkdf2 = "0.11.0"
rand = "0.8.5"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
sha2 = "0.10.2"
thiserror = "1.0.30"
zeroize = { version = "1.3.0", features = ["zeroize_derive"] }

[dev-dependencies]
anyhow = "1.0.57"
