[package]
name = "example-timeline"
version = "0.1.0"
edition = "2024"
publish = false
license = "Apache-2.0"

[package.metadata.release]
release = false

[[bin]]
name = "example-timeline"
test = false

[dependencies]
anyhow.workspace = true
clap = { workspace = true, features = ["derive"] }
futures-util.workspace = true
# when copy-pasting this, please use a git dependency or make sure that you
# have copied the example as it was at the time of the release you use.
matrix-sdk = { path = "../../crates/matrix-sdk" }
matrix-sdk-ui = { path = "../../crates/matrix-sdk-ui" }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
tracing-subscriber.workspace = true
url.workspace = true

[lints]
workspace = true
