[package]
name = "matrix-sdk-ffi"
version = "0.2.0"
edition = "2021"
homepage = "https://github.com/matrix-org/matrix-rust-sdk"
keywords = ["matrix", "chat", "messaging", "ffi"]
license = "Apache-2.0"
readme = "README.md"
rust-version = { workspace = true }
repository = "https://github.com/matrix-org/matrix-rust-sdk"

[lib]
crate-type = ["cdylib", "staticlib"]

[features]
default = ["bundled-sqlite"]
bundled-sqlite = ["matrix-sdk/bundled-sqlite"]

[build-dependencies]
uniffi = { workspace = true, features = ["build"] }
vergen = { version = "8.1.3", features = ["build", "git", "gitcl"] }

[dependencies]
anyhow = { workspace = true }
base64 = "0.21"
eyeball = { workspace = true }
eyeball-im = { workspace = true }
extension-trait = "1.0.1"
futures-core = { workspace = true }
futures-util = { workspace = true }
matrix-sdk-ui = { path = "../../crates/matrix-sdk-ui", default-features = false, features = ["e2e-encryption", "experimental-sliding-sync"] }
mime = "0.3.16"
# FIXME: we currently can't feature flag anything in the api.udl, therefore we must enforce experimental-sliding-sync being exposed here..
# see https://github.com/matrix-org/matrix-rust-sdk/issues/1014
once_cell = { workspace = true }
opentelemetry = { version = "0.18.0", features = ["rt-tokio"] }
opentelemetry-otlp = { version = "0.11.0", features = ["tokio", "reqwest-client", "http-proto"] }
ruma = { workspace = true, features = ["unstable-sanitize", "unstable-unspecified"] }
sanitize-filename-reader-friendly = "2.2.1"
serde_json = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-core = { workspace = true }
tracing-opentelemetry = { version = "0.18.0" }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tokio = { version = "1", features = ["rt-multi-thread", "macros"] }
tokio-stream = "0.1.8"
uniffi = { workspace = true }
url = "2.2.2"
zeroize = { workspace = true }

[target.'cfg(target_os = "android")'.dependencies]
log-panics = { version = "2", features = ["with-backtrace"]}
tracing-android = "0.2.0"

[target.'cfg(not(target_os = "android"))'.dependencies]
tracing = { workspace = true }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[target.'cfg(target_os = "android")'.dependencies.matrix-sdk]
path = "../../crates/matrix-sdk"
default-features = false
features = [
    "anyhow",
    "experimental-sliding-sync",
    "e2e-encryption",
    "markdown",
    "socks",
    "rustls-tls",
    "sqlite",
]

[target.'cfg(not(target_os = "android"))'.dependencies.matrix-sdk]
path = "../../crates/matrix-sdk"
default-features = false
features = [
    "anyhow",
    "experimental-sliding-sync",
    "e2e-encryption",
    "markdown",
    "native-tls",
    "socks",
    "sqlite",
]
