name: Benchmarks

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

jobs:
  benchmarks:
    name: Run Benchmarks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        benchmark:
          - crypto_bench
          - event_cache
          - linked_chunk
          - store_bench
          - timeline

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Setup rust toolchain, cache and cargo-codspeed binary
        uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670
        with:
          channel: stable
          cache-target: release
          bins: cargo-codspeed

      - name: Build the benchmark target(s)
        run: cargo codspeed build -p benchmarks ${{ matrix.benchmark }} --features codspeed

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@0b6e7a3d96c9d2a6057e7bcea6b45aaf2f7ce60b
        with:
          run: cargo codspeed run
          token: ${{ secrets.CODSPEED_TOKEN }}
