name: Code coverage

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  code_coverage:
    name: Code Coverage
    runs-on: "ubuntu-latest"
    if: github.event_name == 'push' || !github.event.pull_request.draft

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        override: true

    - name: Load cache
      uses: Swatinem/rust-cache@v1

    - name: Install tarpaulin
      uses: actions-rs/cargo@v1
      with:
        command: install
        args: cargo-tarpaulin

    # set up backend for integration tests
    - uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - uses: gnunicorn/setup-matrix-synapse@main
      with:
        uploadLogs: true
        httpPort: 8228
        disableRateLimiting: true
        serverName: "matrix-sdk.rs"

    - name: Run tarpaulin
      uses: actions-rs/cargo@v1
      with:
        command: tarpaulin
        args: --out Xml -e sliding-sync-integration-test

    - name: Upload to codecov.io
      uses: codecov/codecov-action@v3
