name: Detects unused dependencies
on:
  pull_request: { branches: "*" }

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Machete
        uses: bnjbvr/cargo-machete@6229aa757e3e8a028bd97a49e190207e108eefbd
