name: Detects unused dependencies
on:
  pull_request: { branches: "*" }

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Machete
        uses: bnjbvr/cargo-machete@04b9adbd8c1c00963289b5628510dd907b27dc60
