name: Detects unused dependencies
on:
  pull_request: { branches: "*" }

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Machete
        uses: bnjbvr/cargo-machete@72602674bc341ca927683caddbf578672c352476
