name: Documentation

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docs:
    name: All crates
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || !github.event.pull_request.draft

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2023-07-03

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Load cache
        uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/head/main' }}

      # Keep in sync with xtask docs
      - name: Build rust documentation
        env:
          # Work around https://github.com/rust-lang/cargo/issues/10744
          CARGO_TARGET_APPLIES_TO_HOST: "true"
          RUSTDOCFLAGS: "--enable-index-page -Zunstable-options --cfg docsrs -Dwarnings"
        run:
          cargo doc --no-deps --workspace --features docsrs

      - name: Build `matrix-sdk-crypto-js` doc
        run: |
          cd bindings/matrix-sdk-crypto-js
          npm install
          npm run build && npm run doc

      - name: Prepare the doc hierarchy
        shell: bash
        run: |
          mkdir -p doc/bindings/matrix-sdk-crypto-js/
          mv target/doc/* doc/
          mv bindings/matrix-sdk-crypto-js/docs/* doc/bindings/matrix-sdk-crypto-js/

      - name: Deploy documentation
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/
          force_orphan: true
